<form method="post">
    <div class="form-row">
        <input type="hidden" value="{{ beast.id }}" name="id">
        <div class="form-group col-md-6">
            <label for="title">Name :</label>
            <input type="text" value="{{ beast.name }}" class="form-control" name="name">
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area :</label>
            <input type="text" value="{{ beast.area }}" class="form-control" name="area">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Picture :</label>
            <input type="url" value="{{ beast.picture }}" class="form-control" name="picture" id="picture"/>
        </div>
        <div class="form-group col-md-6">
            <label for="size">Size (in meter):</label>
            <input type="text" value="{{ beast.size }}" class="form-control" name="size" id="size"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planet">Planet :</label>
            <select name="planet" class="custom-select" id="planet">
                <option selected value="{{ beast.planet_id }}">{{ beast.planet_name }}</option>
                {% for planet in planets %}
                    <option value="{{ planet.id }}">{{ planet.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="movies">Movie :</label>
            <select name="movie" class="custom-select" id="movies">
                <option selected value="{{ beast.movie_id }}">{{ beast.movie_title }}</option>
                {% for movie in movies %}
                    <option value="{{ movie.id }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" name="submit" value="Valider" class="float-right">
        </div>
    </div>
</form>
