<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Name :</label>
            <input type="text" class="form-control" name="name" value="{{beast.name}}">
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area :</label>
            <input type="text" class="form-control" name="area" value="{{beast.area}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Picture :</label>
            <input type="url" class="form-control" name="picture" id="picture" value="{{beast.picture}}"/>
        </div>
        <div class="form-group col-md-6">
            <label for="size">Size (in meter):</label>
            <input type="text" class="form-control" name="size" id="size" value="{{beast.size}}"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planet">Planet :</label>
            <select name="planet" class="custom-select" id="planet">
                <option value="{{beast.planet_id}}">{{beast.planet_name}}</option>
                {% for planet in planets %}
                    <option value="{{ planet.id }}">{{ planet.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="movies">Movie :</label>
            <select name="movie" class="custom-select" id="movies">
                <option value="{{beast.movie_id}}">{{beast.movie_title}}</option>
                {% for movie in movies %}
                    <option value="{{movie.id}}">{{movie.title}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">x
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right">
        </div>
    </div>
</form>
