<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Name :</label>
            <input type="text" class="form-control" name="name" value={{beast.name}}>
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area :</label>
            <input type="text" class="form-control" name="area" value={{beast.area}}>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="area">Picture :</label>
            <input type="url" class="form-control" name="picture" id="picture" value={{beast.picture}} />
        </div>
        <div class="form-group col-md-6">
            <label for="size">Size (in meter):</label>
            <input type="text" class="form-control" name="size" id="size" value={{beast.size}} />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lanet">Planet :</label>
            <input type="hidden" class="form-control" name="id_planet" value={{beast.id_planet}} />
            <input type="text" class="form-control" name="planet" id="planet" value={{beast.planet_name}} />
        </div>
        <div class="form-group col-md-6">
            <label for="movie">Movie :</label>
            <input type="hidden" class="form-control" name="id_movie" value={{beast.id_movie}} />
            <textarea class="form-control" name="movie" id="movie">{{beast.movie_title}}</textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right">
        </div>
    </div>
</form>