{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{detailBeasts.name}} </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/edit/{{ detailBeasts.id }}" class="float-right">Edit</a>
        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">
            <img src="{{detailBeasts.picture}}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
            <p>Area : {{detailBeasts.area}}</p>
            <p>Size : {{detailBeasts.size}}</p>
            <p>Planet : {{detailBeasts.planet_name}} </p>
            <p>Movie(s) : {{detailBeasts.title}}</p>
        </div>
    </div>
    <a href="/beast/list">Back</a>
{% endblock %}
